@CHARSET "ISO-8859-1";

@font-face {
	font-family:"FixedsysTTF";
	src:url('fixedsys.woff') format('woff'), url('fsex300-webfont.woff2') format('woff2');
	font-weight:normal;
	font-style:normal;
}

html {
	height:100%;
}

body {
	background-color : #F1F1F1;
	min-height:100%;
	margin:0;
	position:relative;
}

p {
	color : dark;
	font-family:FixedsysTTF;
}

h2 {
	color : dark;
	text-align : center;
}

h3 {
	color : dark;
	text-align : center;
}

img{
	display: block;
	margin: 0 auto;
}

img.titre{
	/*height:50px;*/
}

img.produit {
	width: 300px;
	margin: 5% auto auto auto;
}

img.boutique {
	height: 320px;
}

th {
	border : groove black;
	font-size : 25px;
	color : dark;
	font-family:FixedsysTTF;
}

div.titre {
	/*position:absolute;
	right:0;
	left:0;
	top:0;*/
	background-image: url(../img/background.png);
	background-repeat: repeat;
	/*
	margin-top:-10px;
	margin-right:-10px;
	margin-left:-10px;*/
}

div.content {
	margin-top:30px;
	margin-left:50px;
	margin-right:50px;
}

div.borderLeft {
	position:absolute;
	left:0;
	width:50px;
	height:calc(100% - 168px);
	background-image: url(../img/background.png);
	background-repeat: repeat;
}

div.borderRight {
	position:absolute;
	right:0;
	width:50px;
	height:calc(100% - 168px);
	background-image: url(../img/background.png);
	background-repeat: repeat;
}

div.borderBottom {
	position:relative;
	right:0;
	left:0;
	bottom:0;
	height:40px;
	/*margin-left:-10px;*/
	background-image: url(../img/background.png);
	background-repeat: repeat;
}

div.strip {
	height:20px;
	/*margin-left:-10px;*/
	background-image: url(../img/background.png);
	background-repeat: repeat;
}

div.produit {
	
	background-color : white;
	width : 350px;
	display: inline-block;
    vertical-align: top;
	margin-left : 1%;
	max-height: 448px;
}

div.produitimg {
	
	background-color : #F1F1F1;
	width : 350px;
	display: inline-block;
    vertical-align: top;
	margin-left : 1%;
	max-height: 448px;
	float:left;
}

div.produitdet {
	margin-left: -325px;
    float: left;
    margin-top: 293px;
    margin-right: 174px;
}	

div.produit:hover {
	background-color:#dfe6e2;
}

div.imgproduit:hover {
	max-height: 318px;
}

img.produit:hover {
	width:320px;
	margin-top:-8px;
}

img.detproduit {
	width: 300px;
	margin: 5% auto auto auto;
}

img.imgmin {
	width: 90px;
	margin: 5% auto auto auto;
	display: initial;
}

img.detproduit:hover {
	width:320px;
}

	
div.contact {
	position:absolute;
	width:calc(100% - 50px);
	bottom:0;
	background-image: url(../img/background.png);
	background-repeat: repeat;
}

div.retourCarte {
	margin-left: calc(100% - 300px);
}

div.retourProds {
	margin-left: calc(100% - 300px);
}

div.produitFilter {

}

div.produitTri {
	    margin-top: 10px;
}

form.produitFT {
	display: inline-block;
}

form.produitRecherche {
	float:right;
	margin-right: 10px;
}

form.contact {
	text-align:center;
}

form.connexion {
	text-align: center;
    margin: auto;
    margin-top: 10%;
    background-color: rgb(196, 234, 185);
}

form.gestion {
	margin: auto;
    max-width: 460px;
    background-color: rgb(185, 211, 234);
}

form.boutique {
	max-width: 1146px;
}

label {
	display: block;
	width: 175px;
	float: left;
}

label.horaire {
	width: 70px;
}

select, input.form, textarea, input.formGestion {
	background-color:#2efeab;
	padding:3px;
	border:1px solid #01d681;
	border-radius:5px;
	width:200px;
	box-shadow:1px 1px 2px #019a5c inset;
	font-family:FixedsysTTF;
}
 
input.form {
	width:170px;
	margin-left:5px;
	box-shadow:1px 1px 1px #019a5c;
	cursor:pointer;
	font-family:FixedsysTTF;
}

input.formGestion {
	width:100px;
	margin-left:5px;
	box-shadow:1px 1px 1px #019a5c;
	cursor:pointer;
	font-family:FixedsysTTF;
}

input.horaire {
	width: 50px;
}

input.produitFilter {
	margin-top:10px;
}

form {
	font-family:FixedsysTTF;
}

OPTION {
	font-family:FixedsysTTF;
}



hr.produit {
	border-width : 10px;
	margin-top : 0;
}

p.produit {
	color : black;
	font-size : 20px;
	text-align : center;
}

p.blocAcces {
	color : red;
	font-size : 20px;
	text-align : center;
}

p.produitPrix {
	color : red;
	font-size : 20px;
	text-align : center;
}

button.contact {
  font-family:'FixedsysTTF';
  display: inline-block;
  border-radius: 4px;
  background-color: #10efdb;
  border: none;
  color: dark;
  text-align: center;
  font-size: 22px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-right: 0;
  margin-left: calc(50% - 130px/2);
  border-radius: 12px;
}

button.retourCarte {
  font-family:'FixedsysTTF';
  display: inline-block;
  border-radius: 4px;
  background-color: #10efdb;
  border: none;
  color: dark;
  text-align: center;
  font-size: 22px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-right: 0;
  margin-left: calc(50% - 130px/2);
  border-radius: 12px;
}

button.boutiques {
  font-family:'FixedsysTTF';
  position:absolute;
  display: inline-block;
  border-radius: 4px;
  background-color: #10efdb;
  border: none;
  color: dark;
  text-align: center;
  font-size: 30px;
  width: 200px;
  height:50px;
  transition: all 0.5s;
  cursor: pointer;
  top:84px;
  left: calc(25% - 200px);
  border-radius: 12px;
}

button.produits {
  font-family:'FixedsysTTF';
  position:absolute;
  display: inline-block;
  border-radius: 4px;
  background-color: #10efdb;
  border: none;
  color: dark;
  text-align: center;
  font-size: 30px;
  width: 200px;
  height:50px;
  transition: all 0.5s;
  cursor: pointer;
  top:84px;
  right: calc(25% - 200px);
  border-radius: 12px;
}

button.retourProds {
  font-family:'FixedsysTTF';
  display: inline-block;
  border-radius: 4px;
  background-color: #10efdb;
  border: none;
  color: dark;
  text-align: center;
  font-size: 22px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-right: 0;
  margin-left: calc(50% - 130px/2);
  border-radius: 12px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

h1.bvenue {
	text-align:center;
	font-size:25px;
	font-family:"Times New Roman" , Times , serif;
	color: #638bbc; 
}

div.acc {
	background-color:#dad8e9;
}

p.acc {
	text-align:center;
	font-size:40px;
	color:#2eb91e;
	font-style:italic;
	text-decoration:underline overline; 
	font-family:FixedsysTTF;
}

p.img {
	text-align:center;
}

img.red {
	height:350px;
}

td.top {
	vertical-align:top;
}

div.cuisine {
	margin-left: 780px;
	margin-right: 788px;
}

div.mode {
	margin-top:100px;
	margin-left:370px;
	margin-right: 1369px;
}

div.portable {
	margin-top:-210px;
	margin-left: 1340px;
	margin-right: 329px;
}

div.img {
	margin-top:-210px;
	margin-left:845px;
}

img.imagegeek {
width: 15%;
}

div.usb {
	margin-top:150px;
	margin-left: 500px;
	margin-right: 1161px;
}

div.gadget {
	margin-top:-160px;
	margin-left: 1100px;
	margin-right: 515px;
}

div.color:hover {
	background-color:#8080ff;

}

a.lien:hover {
	font-size: 115%;
	color: #10efdb;
}

div.shop  {
	margin-top:-660px;
	margin-left: 600px;
	font-size:20px;
	font-style:italic;
	text-shadow: 0.5px 0.5px #000000;
}

ul {
	margin-left : 40%;
}

div.accboutiques {
	margin-top:60px;
}

table.horaire {
	margin: auto;
}

table.compte {
	margin-left: auto;
    margin-right: auto;
}

table.gestion {
	margin-left: auto;
    margin-right: auto;
}

th {
	border : solid grey;
	font-size : 30px
}

th.boutinfos {
	min-width: 130px;
	background-color:#d6ebda;
}

td {
	border : solid grey;
	border-collapse: collapse;
	font-size : 20px
}

th.noBorder, td.noBorder {
	border:none;
}

div.details {
	margin-top:-60px;
	margin-right:auto;
}

div.details:hover {
	background-color:#dfe6e2;
}

div.details2 {
	margin-top:auto;
	margin-left:1%;
	border-left:grey double 5px;
}

div.details2:hover {
	background-color:#dfe6e2;
}

p.detail2produit {
	margin-left:20px;
}

p.details {
	font-size:25px;
	text-shadow: 0.5px 0.5px #000000;
	color:#2eb91e;
}

p.detailproduit {
	font-size : 40px;
	text-align : center;
	text-shadow: 0.5px 0.5px #000000;
	color:#2eb91e;
}

p.detailproduitPrix {
	color : red;
	text-shadow: 0.75px 0.75px #ff0000;
	font-size : 25px;
	text-align : left;
}

div.prods {
	margin-left:10px;
	margin-right:500px;
	min-height:460px;
}

div.prix {
	margin-top: -130px;
    margin-left: 50px;
}

img.produitacc {
	width: 300px;
	margin: 5% auto auto auto;
}

div.produitacc {
	display: inline-block;
	width: 310px;
}

div.produitaccalign {
	text-align: center;
}

div.form {
	width: 187px;
    margin-left: auto;
    margin-right: auto;
}

div.gestionForm {
	width: 425px;
	margin-left: auto;
    margin-right: auto;
	background-color: rgb(196, 234, 185);
	margin-top: 200px;
}

label.tcenter {
	text-align:center;
	width: auto;
    float: none;
}

div.contact {
	background-color:#dad8e9;
}

img.accueilBout {
	display: initial;
}

div.produitList {
	text-align: center;
}

div.lienImage {
	margin-left: auto;
    margin-right: auto;
}

div.boutList {
	text-align:center;
}

div.gestionContent {
	margin-top: 75px;
}

div.gestionZone {
	background-color: white;
	border: #bcc2fc double 5px;
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

canvas.carte {
	float:left;
}

label.noFloat {
	float:none;
}