@CHARSET "ISO-8859-1";

body {
	background-color : #F1F1F1;
	margin-top:168px;
	margin-left:50px;
}

p {
	color : dark;
}

h2 {
	color : dark;
	text-align : center;
}

h3 {
	color : dark;
	text-align : center;
}

img{
	display: block;
	margin: 0 auto;
}

img.titre{
	/*height:50px;*/
}

img.produit {
	width: 300px;
	margin: 5% auto auto auto;
}

img.boutique {
	height: 500px;
}

form {
	display: inline-block;
    text-align: center;
}

th {
	border : groove black;
	font-size : 25px;
	color : dark;
}

div.titre {
	position:absolute;
	right:0;
	left:0;
	top:0;
	background-image: url(../img/background.png);
	background-repeat: repeat;
	/*
	margin-top:-10px;
	margin-right:-10px;
	margin-left:-10px;*/
}

div.borderLeft {
	position:absolute;
	left:0;
	top:0;
	width:50px;
	height:100%;
	/*margin-left:-10px;*/
	background-image: url(../img/background.png);
	background-repeat: repeat;
}

div.borderRight {
	position:absolute;
	right:0;
	top:0;
	width:50px;
	height:100%;
	/*margin-left:-10px;*/
	background-image: url(../img/background.png);
	background-repeat: repeat;
}

div.borderBottom {
	position:relative;
	bottom:calc(-100% + 200px);
	right:0;
	left:0;
	height:20px;
	/*margin-left:-10px;*/
	background-image: url(../img/background.png);
	background-repeat: repeat;
}

div.produit {
	background-color : white;
	width : 350px;
	float : left;
	margin-left : 1%;
}

div.contact {
	position:absolute;
	bottom:0;
	right:50px;
	bottom:50px;
}

form.produitFilter {
	margin-left : 20px;
	margin-top : 10px;
}

select.produitFilter, input.produitFilter {
	background-color:#2efeab;
	padding:3px;
	border:1px solid #01d681;
	border-radius:5px;
	width:200px;
	box-shadow:1px 1px 2px #019a5c inset;
}
 
input.produitFilter {
	width:100px;
	margin-left:5px;
	box-shadow:1px 1px 1px #019a5c;
	cursor:pointer;
}

hr.produit {
	border-width : 10px;
	margin-top : 0;
}

p.produit {
	color : black;
	font-size : 20px;
	text-align : center;
}

p.produitPrix {
	color : red;
	font-size : 20px;
	text-align : center;
}

button.contact {
  display: inline-block;
  border-radius: 4px;
  background-color: #10efdb;
  border: none;
  color: dark;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 12px;
}

button.contact span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.contact span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.contact:hover span {
  padding-right: 25px;
}

button.contact:hover span:after {
  opacity: 1;
  right: 0;
}